@mixin py($py) {
    padding: $py;
} 

$gColor: #E2AB3F;

%btn{
    border: 1px solid #E2AB3F;
    text-transform: uppercase;
    padding: 10px 60px;
    margin-top: 20px;
}
%input{
    border: 1px solid #E2AB3F;
    padding: 10px 100px;
    margin-top: 20px;
}